#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: black;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;
  position: relative;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.blink-fade {
  animation: blink-fade 5s linear infinite;
  -webkit-animation: blink-fade 5s linear infinite;
}
@keyframes blink-fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade {
  animation: fade 4s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.3;
  }
}
